/* DEFAULTS
----------------------------------------------------------*/
html, body, form
{
    width: 100%;
    height: 100%;
    margin: 0;
}
body
{
    background:#202832;
    color:Black;
    margin: 0px;
    padding: 0px;
    font-family: 돋움;
}

a:link, a:visited
{
    color: #034af3;
    text-decoration:none;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}

/* HEADINGS
----------------------------------------------------------*/
h2
{
    font-size: 3em;
    font-weight: 600;
    line-height:14px;
    color:#fff;
}

header.headermain {	

	padding: 35px 25px;
	overflow: hidden;	
	position: relative;
	top: 0;	
	z-index: 1000;
	padding-bottom:0px;
	height:110px;
	padding-top:0px;
	margin-top:0px;
}

header h1 {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	letter-spacing: -1px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	float: left;
	width: 100%;
	margin-top:45px;
}

header h1 strong
{
    font-size:2em;
	font-weight: 600;
}
.headermain a
{
    float: right;
    margin: -40px 0 0 0;
    color:#fff;
    font-size:12pt;
    font-family:HY견고딕;
}
header input {
	float: right;
	border: none;
	padding: 5px 10px;
	width: 20%;
	color: #8a8a8a;
	margin: -20px 0 0 0;
	
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}

header input:focus {
	border: none;
	outline: none;
}

/* PRIMARY LAYOUT ELEMENTS
----------------------------------------------------------*/

.page
{
    width: 1024px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
    min-height:968px;
    max-height:auto;
    font-family:돋움;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    /*padding: 0px 12px;*/
    /*margin: 12px 8px 8px 8px;*/
    min-height: 768px;
    height:auto;
    background-color:#E2E2E2;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline
{
    display: inline;
}

legend
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry
{
    width:287px;
    height:33px;
    font-family:돋움;
    font-size:11pt;
    color:rgb(102,102,102);
    
    border-width:1px;
    border-style:none;
}

input.passwordEntry
{
    width:287px;
    height:33px;
    font-family:돋움;
    font-size:11pt;
    color:rgb(102,102,102);
    
    border-width:1px;
    border-style:none;
}

div.accountInfo
{
    width: 42%;
}

/* MISC
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

/* LOGIN HEADER
----------------------------------------------------------*/
.loginheader
{
    height:260px;
    background-color:#ED4512;
}


/* Account HEADER
----------------------------------------------------------*/
.accountheader
{
    height:197px;
    background-color:#ED4512;
}

.button, button {
	border: 1px solid #323537;
	padding: 10px 15px;
	color: #fff;
	position: relative;
	margin: 0 0 0 5px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
	z-index: 500;
	
	background: #4b4f51; /* Old browsers */
	 background: -moz-linear-gradient(top, #4b4f51 0%, #414547 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4b4f51), color-stop(100%,#414547)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4b4f51 0%,#414547 100%); /* Chrome10+,Safari5.1+ */
	 background: -o-linear-gradient(top, #4b4f51 0%,#414547 100%); /* Opera 11.10+ */
	 background: -ms-linear-gradient(top, #4b4f51 0%,#414547 100%); /* IE10+ */
	background: linear-gradient(to bottom, #4b4f51 0%,#414547 100%); /* W3C */
	cursor: pointer;
}

.button a {
	color: #fff;}}
}

.user .blue {
	border: 1px solid #323537;
}

.blue {
	border: 1px solid #0f70ad;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	background: #208ed3; /* Old browsers */
	background: -moz-linear-gradient(top, #208ed3 0%, #0272bd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#208ed3), color-stop(100%,#0272bd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #208ed3 0%,#0272bd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #208ed3 0%,#0272bd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #208ed3 0%,#0272bd 100%); /* IE10+ */
	background: linear-gradient(to bottom, #208ed3 0%,#0272bd 100%); /* W3C */
}

button.green {
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	border: 1px solid #719e37;
	margin: 0;
	background: #9bc747; /* Old browsers */
	background: -moz-linear-gradient(top, #9bc747 0%, #82bd42 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9bc747), color-stop(100%,#82bd42)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #9bc747 0%,#82bd42 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #9bc747 0%,#82bd42 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #9bc747 0%,#82bd42 100%); /* IE10+ */
	background: linear-gradient(to bottom, #9bc747 0%,#82bd42 100%); /* W3C */
}

.topmenu, .topmenu_sel
{
    border-width:1px;
    border-color:rgb(37,46,57);
    border-style:solid;
    font-size:10pt;
    font-family:돋음;
    font-weight:bold;
    color:#9CA5B1;
}
.topmenu a
{
    color:#9CA5B1;
}

.topmenu_sel a
{
    color:White;
}

.leftmenu, .leftmenu_sel
{
    border-width:1px;
    border-color:rgb(32,40,50);
    border-style:solid;
    background-color:#3F4956;
    border-collapse:collapse;
    font-size:10pt;
    font-family:돋음;
    font-weight:bold;
    color:#9CA5B1;
}
.leftmenu a
{
    color:#9CA5B1;
}

.leftmenu_sel a
{
    color:Black;
}

.leftmenu_sel
{
    background-color:#A5A7AB;
    color:Black;
}

.sep
{
    font-size:20pt;
    font-family:Times New Roman;
}
.addproject_menu a
{
    color:#4A4A4A;
    background-color:#fff;
}
.addproject_menu a:active
{
    color:#ED4512;
}

/* projectlist UI
----------------------------------------------------------*/

.addproject_menu a
{
    font-size:12pt;
    font-family:돋움;
    color:#ED4512;
}
.addcontent_menu
{
    font-size:12pt;
    font-family:돋움;
    color:#4A4A4A;
    cursor:pointer;
}

.clsaccheader
{
	text-align: left;
	border: 1px solid #d0d0d0;	
	border-left:none;
	border-right:none;
	border-bottom:none;
	font-weight: bold;
	font-size: 15pt;
	font-family:돋움;
	padding: 5px;
	margin-top: 5px;
	cursor: pointer;
	height:65px;
	color:#ED4512; 	
}
.clsacccontent
{
	border: 1px solid #d0d0d0;
	background-color: #efefef;
	padding: 20px;
	padding-top: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	height:auto;
	font-family:돋움;
	font-weight: bold;
	
}

.contentbox
{
    width:auto;
    height:120px;
    margin-top:18px;
    border:solid 1px #CECECE;
    padding:11px;
    background-color:#fff;
}
/* 입력폼이 뜰때 배경 어둡게 하기
----------------------------------------------------------*/
#popBack
{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#000000;
	border:1px solid #cecece;
	z-index:2000;
}

.clspopup
{
	display: none;
	position:absolute;
	_position:absolute; /* hack for internet explorer 6*/
	background-color: #F0F0F0;
	z-index:3000;
	text-align: left;
	padding:0px;
	
	color: Black;
    border-width:1px;
    border-color:rgb(216,216,216);
    border-style:solid;	
	font-family:돋움;
}

.optdiv
{
    background-color:#FBFBFB;
    font-family:돋움;
    font-size:10pt;
    padding:10px;
    padding-right:10px;
    border:solid 1px #000;
}

#capture_detail_div
{
    background-color:#cfcfcf;
    font-family:돋움;
    font-size:10pt;
    border:solid 1px #000;
}
.req_cover
{
    padding-top:172px;
    padding-left:188px;
    height:550px;

}
.clsMarkerImg
{
    max-width:100%;
    max-height: 550px;
}
.markdiv
{

    max-height:100%;
    max-width:100%;
}
.dragged_object
{
    position:absolute;
    cursor:pointer;
    color:#000;
    min-width:80px;
    z-index:5000;
}

.clsImagechange
{
    width:auto;
    height:auto;
    float:left;
    cursor:move;
    z-index:5000;
    display:none;
}

.clscapprev
{
    z-index:5000;
    cursor:move;
}
/*패널버튼에 대한 css*/
.panel
{
    min-width:80px;
    height:25px;
    background-color:#ED4512;
    display:none;
}


.dragged_object a
{
    background: url("../img/panelbutton.png") no-repeat 0px 0px; width: 25px; height: 25px;
    overflow: hidden;
    text-indent: -9999em;
}

.dragged_object a.edit-btn
{
    background-position-x:100%;
    background-position-y:0px;
    float:right;
    background-color:Transparent;
}
.dragged_object a.edit-btn:hover
{
    background-position: 100% 100%;
}
.dragged_object a.delete-btn
{
    float:left;
}
.dragged_object a.delete-btn:hover
{
    background-position: 0px 100%;
}

.web-btn
{
    background-color:#ffff00;
    font-family:돋움;
    color:#000;
    font-size:12pt;
    font-weight:900;
}

.optdiv a
{
    background: url("../img/panelbutton.png") no-repeat 0px 0px; width: 25px; height: 25px;
    overflow: hidden;
    text-indent: -9999em;
}

.optdiv a.cap_edit-btn
{
    background-position-x:100%;
    background-position-y:0px;
    float:right;
    background-color:Transparent;
}
.optdiv a.cap_edit-btn:hover
{
    background-position: 100% 100%;
}
.optdiv a.cap_delete-btn
{
    float:right;
}
.optdiv a.cap_delete-btn:hover
{
    background-position: 0px 100%;
}


/*관리자페잊 테이블관련*/
.row_tr
{
    height:54px;
    font-family:돋움;
    font-size:12pt;
    border-bottom:solid;
    text-align:left;
}
.field_cell
{
    border-bottom:1px solid ;
    width:215px;
    padding-left:20px;
}
.value_cell
{
    border-bottom:1px solid ;
    background-color:#fff;
    width:740px;
    padding-left:20px;
    color:#000;
}
.topfield_cell
{
    border-bottom:1px solid ;
    color:#000;
    font-weight:600;
    font-family:돋움;
    font-size:10pt;
    text-align:center;

}
.control
{
    border-style:none;
    font-family:돋움;
    font-size:10pt;
    color:rgb(78,88,103);
}

.clsButton, .clsBigButton
{
    font-family:돋움;
    font-size:10pt;
    color:white;
    background-color:#33B5E5;
    padding:0;
    border:0;
    cursor:pointer;
}

.clsBigButton
{
    font-size:11pt;
    font-weight:bold;
}

.image-btn
{
    cursor:pointer;
}
/***관리자페이지 테이블관련***/

/*관리자페이지 테이블관련*/
.clspopup_manager
{
	display: none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	background-color: #fff;
		
	text-align: left;
	padding:12px;	
	color: Black;	
	box-shadow:0px 1px 6px rgba(0,0,0,0.4);
	border-color:#ED4512;
	border-radius :10px;	
}

.grdContent
{
    border-top-style:none;
    border-left-style:none;
    border-right-style:none;
    border-bottom:1px solid;
    margin-bottom:30px;
    color:#000;
}

#progress_div
{
    display:none;
    position:absolute;
    left: 700px;
    top: 250px;
    width: auto;
    height: auto;
    z-index:3000;
    background-color:transparent;
}
.error-message
{
    color: Red;
}

.txtbox
{
    background-color:White;
    border:1px solid #a7a7a7;
    height:21px;
}
.clspager
{
    font-weight:bold;
    font-family: 돋음;
    font-size: 15pt;
	color: #838C9E;
	padding: 20px 20px 20px 20px;
	height:56px;
	width:56px;
}
.clspager a:link, .clspager a:visited
{
    font-weight:normal;
    font-family: 돋음;
    font-size: 15pt;
	color: #666666;
	padding: 20px 20px 20px 20px;
	height:56px;
	width:56px;
}
.clspager span
{
	padding: 20px 20px 20px 20px;
}
.grdPopup
{
    border-top-style:none;
    border-left-style:none;
    border-right-style:none;
    border-bottom:1px solid;
    color:#000;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

.validation-summary-errors ul li
{
    display:none;
}
.validation-summary-errors ul li:nth-child(1) {
    display:list-item;
}

/*popup div관련
------------------------*/
.buttons
{
    text-align:right;
}

.poptitle
{
    font-size:15pt;
    font-weight:bold;
}

/*빈 오브젝트*/
.emptyobject
{
	background-color: #dddddd;	
	text-align:center;
	color: Black;
	box-shadow:0px 1px 6px rgba(0,0,0,0.4);	
	border-radius :5px;
	font-family:돋움;
	width:100%; height:100%; 	
}

.empty_div
{
    width:180px;
    height:120px;
    position:absolute;
    min-height:60px;
    min-width:90px
}
.objtitle
{
    font-size:15pt;
    font-weight:bold;
    color:Gray;
    top: 45%;
    position: relative;
}

.clschklist
{
    border-bottom:1px solid Gray;
}
.tdchk td
{
    width: 50%;
}

.clsGridHeader
{
	background-color: #D0D5DE;
	font-size:10pt;
	font-family: "돋움";
	color: #4E5867;
	text-align:center;
}
.clsGrid, .clsSelGrid
{
	font-family: "돋움";
	color: #333333;
	text-align:center;
	font-size:10pt;
	background-color:white;
}

.clsSelGrid
{
	background-color:#EEEEEE;
}


.textinput input:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 20px #9ecaed;
}
.textinput input
{
    padding-left:30px;        
    width:262px;
    border-style:none;
}

.clsLoginButton
{
    width: 298px;
    height: 49px;
    background-image: url("../Account/IMG/bt_login.png");
    background-color: transparent;
    border-style: none;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
}

.clsLoginButton:hover
{
    width: 298px;
    height: 49px;
    background-image: url("../Account/IMG/bt_login_r.png");
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    box-shadow: 0 0 20px #9ecaed;
    border-radius: 25px;
    outline: none;
}

#chkRememberMe, #chkAutoLogin {
    width: 13px;
    height: 13px;
    border:none;
    background-image: url("../Account/IMG/_0004_Ellipse-1.png");
    border-radius: 50%;
    vertical-align: middle;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

#chkRememberMe:checked, #chkAutoLogin:checked {
    background-image: url("../Account/IMG/_0004_Ellipse-2.png");
}